<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/video-embed.css">
        <title></title>
        
    </head>
    <body>
        <div class="header-container">
            <header class="header-wrapper">
                <div id="left-nav-image" ><h3>Logo</h3></div>
                <div id="right-nav-image"><h3>Navigation</h3></div>
            </header>
        </div>
        
        <div class="content-wrapper">
            <div class="video-wrapper">
                <div id="video">
                    <iframe width="750px" height="450px" src="https://www.youtube-nocookie.com/embed/TA1qIuMJAEg?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div id="video-title">
                    <h3>Video Title</h3>
                    <div class="video-subscribe-wrapper">
                        <div id="video-subscribe" class="video-subscribe-buttons">Subscribe</div>
                        <div id="video-count" class="video-subscribe-buttons">Views</div>
                    </div>
                    <div class="video-buttons-wrapper">
                        <div id="addto" class="video-buttons">Add to +</div>
                        <div id="share" class="video-buttons">Share</div>
                        <div id="more" class="video-buttons">More...</div>
                    </div>
                </div>
                <div id="video-info">
                    <h3></h3>
                    <p></p>
                </div>
                <div id="comments">
                    <div class="comment-wrapper">
                        <div class="comment-image"><h4>img</h4></div>
                        <div class="comments-text">
                            <h4 class="comment-name">Commenter name</h4>
                            <p class="comment-text">Commenters eloquent and well reasoned comment.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment-image"><h4>img</h4></div>
                        <div class="comments-text">
                            <h4 class="comment-name">Commenter name</h4>
                            <p class="comment-text">Commenters eloquent and well reasoned comment.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment-image"><h4>img</h4></div>
                        <div class="comments-text">
                            <h4 class="comment-name">Commenter name</h4>
                            <p class="comment-text">Commenters eloquent and well reasoned comment.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment-image"><h4>img</h4></div>
                        <div class="comments-text">
                            <h4 class="comment-name">Commenter name</h4>
                            <p class="comment-text">Commenters eloquent and well reasoned comment.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment-image"><h4>img</h4></div>
                        <div class="comments-text">
                            <h4 class="comment-name">Commenter name</h4>
                            <p class="comment-text">Commenters eloquent and well reasoned comment.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb-image">
                        <h3>img</h3>
                    </div>
                    <div class="sidebar-video-text">
                        <h4 class="thumb-title">Sidebar Video Title</h4>
                        <p class="thumb-caption">Sidebar video text goes here describing the linked video.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
